$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;

.account-form-container {
  color: rgb(68, 68, 68);
  line-height: 1.5em;
  word-break: break-word;
  white-space: pre-wrap;
  padding: 1em;

  form {
    max-width: 400px;
    background-color: #f5f5f5;

    label {
      font-weight: 600;
    }

    input {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 15px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      font-family: $paragraph-font;
    }
  }
}
