/* Reset default margin and padding for all elements */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  width: 100%;
  height: 100%;
}
