/* Color variables */
$quote-color: rgb(55, 54, 54);
$author-color: rgb(110, 110, 110);
$shadow-color: rgba(211, 211, 211, 0.8);
$quote-background-gradient: linear-gradient(#fbeaeb, white);

/* Font Families */
$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;
$header-font: 'Neucha', 'Poppins', Helvetica, Tahoma, sans-serif;

/* Container that holds all new and past entries */
.EntryContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow:
    8px 0 20px -12px $shadow-color,
    -8px 0 13px -12px $shadow-color;
  top: 0;
  margin: auto;
  max-width: 900px;
  min-height: 100vh;
  color: black;
  padding-bottom: 5em;
}

/* Main timer container on homepage */
.TimerBox {
  font-family: $paragraph-font;
  font-size: 1.3em;
  line-height: 1.5;
  padding: 6em 2em 0em 2em;
  background-image: $quote-background-gradient;
  color: $quote-color;

  @media (max-width: 480px) {
    max-width: 100%;
    font-size: large;
    padding: 6em 0.5em 0.5em 0.5em;
  }
}

/* Contains the new journal entry functionality */
.NewEntryBox {
  display: flex;
  justify-content: center;
}

/* Line that separates Timer and New Meditation sections from Past Meditation Sessions */
hr {
  border: 0.5px solid lightgray;
  width: 95%;
  margin: 0 auto;
}
