.EntryContainer {
  display: flex;
  box-shadow:
    8px 0 20px -12px rgba(211, 211, 211, 0.8),
    -8px 0 13px -12px rgba(211, 211, 211, 0.8);
  flex-direction: column;
  top: 0;
  margin: 0 auto;
  text-align: left;
  max-width: 700px;
  min-height: 100vh;
  color: black;
  padding-bottom: 5em;
}

.quote-block {
  font-family: Neucha, Tahoma, san-serif;
  padding: 7em 2em 2em 2em;
  font-size: 1.3em;
  line-height: 1.5;
  background-image: linear-gradient(#fbeaeb, white);
}

#quote {
  color: rgb(55, 54, 54);
}

#quote,
#author {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
}

#author {
  font-weight: bold;
  color: rgb(110, 110, 110);
  padding-top: 1em;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
