$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;
$shadow-color: rgb(172, 172, 172);

/* Box Shadow Mixin */
@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
}

footer {
  // position: absolute;
  // width: 100vw;
  background-color: rgb(233, 232, 232);
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  @include box-shadow(0, 2px, 8px, $shadow-color);
  a {
    text-decoration: none;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    font-family: $paragraph-font;
    color: rgb(60, 60, 60);
  }

  .credits,
  .copyright {
    font-size: small;
    padding: 1em;
  }
}
