$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;
$shadow-color: rgb(172, 172, 172);

/* Box Shadow Mixin */
@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
}

footer {
display: flex;
justify-content: center;
  position: absolute;
  width: 100vw;
  background-color: rgb(233, 232, 232);
  bottom: 0;
  padding: 1em;
  text-align: center;
  margin: 0 auto;
  @include box-shadow(0, 2px, 8px, $shadow-color);

  .footer-container {
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: $paragraph-font;
    color: rgb(60, 60, 60);
    @media (max-width: 300px) {
      padding: 0;
      margin: 0;
    }
  }

  .credits,
  .copyright {
    font-size: small;
    padding: 0.5em;
  }
}
