$primary-color: #721bac;
$secondary-color: #2f3c7e;
$shadow-color: rgb(172, 172, 172);
$font-family: Pacifico, sans-serif;

/* Mixins */
@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
}

@mixin button-styles($bg-color: $primary-color, $font-size: medium) {
  max-width: 8em;
  min-width: 5px;
  font-size: $font-size;
  background-color: $bg-color;
  color: white;
  padding: 1em;
  border-radius: 3px;
  border: 0px;
}

/* Utility class */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header styles */
.header {
  @extend .flex-center;
  font-family: $font-family;
  font-size: 1.2em;
  padding: 0.5em;
  @include box-shadow(0, 2px, 8px, $shadow-color);
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, $primary-color, $secondary-color);
  color: white;
  z-index: 99;

  /* Container that holds hamburger menu, title, and logout button */
  .headerContainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 90%;
    @extend .flex-center;

    /* Hamburger menu styles */
    .hamburger {
      width: 2em;
      height: auto;
      cursor: pointer;
    }

    /* Title styles */
    h1 {
      flex: 1;
      text-align: center;
      margin: 0; // Remove default margin
      padding: 0 0.5em 0 0.5em;
    }

    /* Logout Container Styles */
    .logout {
      display: flex;
      justify-content: flex-end;

      /* Logout button styles*/
      button {
        @include button-styles;
        @media (max-width: 600px) {
          font-size: small;
        }
        @media (max-width: 300px) {
          font-size: x-small;
        }
      }
      button:hover {
        border: 0.5px solid white;
        cursor: pointer;
      }
    }
  }
}
