.Header {
    font-family: Pacifico, sans-serif;
    font-size: 1.2em;
    width: 100%;
    display: flex;
    padding-bottom: 0.5em;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 150, 164);
    color: #fff;
    box-shadow: 0 2px 8px rgb(200, 200, 200);
}
