/* Color Variables */
$primary-color: #721bac;
$secondary-color: #2f3c7e;
$shadow-color: rgb(172, 172, 172);

/* Font Families */
$title-font: Pacifico, sans-serif;
$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;

/* Box Shadow Mixin */
@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
}

/* Utility class */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header styles */
.header {
  @extend .flex-center;
  font-family: $title-font;
  font-size: 1.3em;
  @include box-shadow(0, 2px, 8px, $shadow-color);
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, $primary-color, $secondary-color);
  color: white;
  z-index: 99;

  /* Container that holds hamburger menu, title, and logout button */
  .header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 90%;
    @extend .flex-center;

    @media (max-width: 300px) {
      width: 100%;
    }

    /* Hamburger menu styles */
    .hamburger {
      width: 2em;
      height: 2em;
      padding-left: 1em;
      cursor: pointer;
      img {
        padding: 0;
        width: 2em;
        height: 2em;
      }
    }

    /* Title styles */
    h1 {
      flex: 1;
      text-align: center;
      margin: 0; // Remove default margin
      padding: 0.2em 0 0.2em 0;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
        @media (max-width: 325px) {
          display: none;
        }
      }
    }

    /* Container for username and logout button*/
    .auth-box {
      display: flex;
      justify-content: right;
      align-items: center;
      font-family: $paragraph-font;
      font-size: medium;

      // Formatting for username
      .user {
        padding-right: 1em;
        @media (max-width: 700px) {
          display: none;
        }
      }

      /* Logout Container Styles */
      .logout {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-end;
        width: 6em;
        height: 3em;

        /* Logout button styles*/
        button {
          max-width: 8em;
          min-width: 5px;
          font-size: medium;
          font-family: $paragraph-font;
          background-color: $primary-color;
          color: white;
          padding: 1em;
          border-radius: 5px;
          border: 0px;

          // Media queries for logout button
          @media (max-width: 600px) {
            font-size: small;
          }
          @media (max-width: 300px) {
            font-size: x-small;
            padding: 1.5em 1em 1.5em 1em;
          }
        }

        // Media query for logout button container
        @media (max-width: 300px) {
          margin-right: 1em;
        }

        button:hover {
          border: 0.5px solid rgba(255, 255, 255, 0.5);
          box-shadow:
            0 0 3px 2px rgb(255, 255, 255, 0.1),
            0 0 3px 2px rgb(255, 255, 255, 0.1);
          cursor: pointer;
          transition: border 0.2s ease;
          transition: box-shadow 0.2s ease;
        }
      }
    }
  }
}
