/* Import all scss stylesheets into one main stylesheet for index.js file */

@font-face {
  font-family: 'Neucha';
  src: url('../../public/fonts/Neucha-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('../../public/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

//** GLOBAL STYLES */
@import 'app';
@import 'toggle';
@import 'success-error';
@import 'global-buttons';
@import 'page';

//** COMPONENTS */
// @import 'entry-container';
// @import 'header';
// @import 'new-entry';
// @import 'past-entries-feed';
// @import 'sidebar';
// @import 'timer';
// @import 'footer';

//** PAGES */
// @import 'login-signup';

// @import 'contact-form';
// @import 'account-form';
// @import 'not-found';
