$primary-color: #721bac;
$secondary-color: #2f3c7e;
$tertiary-color: white;
$shadow-color: rgb(172, 172, 172);

@mixin new-entry-input-styles($bg-color: $primary-color, $font-size: medium) {
  padding: 0.5em 0 0.5em 0;
  margin: 0 0.5em 0.5em 0.5em;
  min-width: 80px;
  border-radius: 3px;
  font-size: $font-size;
}

.NewEntry {
  /* Styles for the main container */
  padding: 0 3em 3em 2em;
  color: rgb(68, 68, 68);

  /* Toggles between 'New Meditation' and the current date */
  .newEntryHeader {
    display: flex;
    align-items: center;
    margin: 0.5em;
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 550;
    button {
      border-radius: 50%;
      font-size: 1em;
      padding: 0.25em 0.5em 0.25em 0.5em;
      border: 0;
      color: white;
      background-color: $secondary-color;
      margin-right: 0.5em;
    }
    button:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      background-color: lighten($secondary-color, 10%);
    }
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* The form under 'New Meditation' */
  form {
    animation-name: fadeInAnimation;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

    /* The text that the user enters into the textarea */
    .entryText {
      width: 98%;
      height: 15em;
      border: 1px solid lightgray;
      border-radius: 0.25em;
      line-height: 1em;
      padding: 5px;
      font-family: Helvetica, san-serif;
    }
  }

  /* Buttons to either save the new entry or cancel and toggle the form closed */
  .newEntryButtons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0.5em;

    /* Cancel button styles */
    .cancel {
      @include new-entry-input-styles;
      border: 1px solid $secondary-color;
      background-color: $tertiary-color;
      color: $secondary-color;
    }

    .cancel:hover {
      background-color: $primary-color;
      color: $tertiary-color;
      border: 1px solid $primary-color;
      opacity: 50%;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    /* Save button styles */
    .save {
      @include new-entry-input-styles;
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      color: $tertiary-color;
    }

    .save:hover {
      background-color: $primary-color;
      color: $tertiary-color;
      border: 1px solid $primary-color;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
  }
}
