/* Color Variables*/
$primary-color: #721bac;
$secondary-color: #2f3c7e;
$tertiary-color: white;
$shadow-color: rgb(172, 172, 172);

/* Font Family */
$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;

.NewEntryBox {
  box-sizing: border-box;
  justify-content: center;
  padding: 2em;

  .NewEntry {
    /* Styles for the main container */
    display: flex;
    flex-direction: column;
    color: rgb(68, 68, 68);
    width: 100%;

    /* Toggles between 'New Meditation' and the current date */
    .newEntryHeader {
      display: flex;
      justify-content: left;
      text-align: left;
      align-items: center;
      padding: 1em 0 1em 0;
      font-family: $paragraph-font;
      font-size: larger;
      font-weight: 550;
      @media (max-width: 500px) {
        font-size: large;
      }
    }

    /* Add new entry button */
    .new-entry-btn {
      border-radius: 50%;
      font-size: 1.2em;
      padding: 0.25em 0.5em 0.25em 0.5em;
      border: 0;
      color: white;
      background-color: $secondary-color;
      margin-right: 0.5em;
      transition: background-color 0.3s ease;
      &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
        background-color: $primary-color;
      }
    }

    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    /* The form under 'New Meditation' */
    form {
      display: flex;
      flex-direction: column;
      animation-name: fadeInAnimation;
      animation-duration: 1s;
      font-size: large;
      font-family: $paragraph-font;
      background-color: #f5f5f5;
      padding: 1em;
      border-radius: 8px;
      box-shadow: 0 0 5px $shadow-color;

      @media (max-width: 300px) {
        padding: 0.5em;
      }

      label {
        padding: 1em 0 0.2em 0;
        font-weight: 600;
      }

      .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }

      /* The text that the user enters into the textarea */
      .entry-duration,
      .entry-body {
        box-sizing: border-box;
        margin-top: 0.5em;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 0.25em;
        line-height: 1.5em;
        font-family: $paragraph-font;
        font-size: large;
        padding: 1em;
        box-shadow:
          0 0 7px 10px rgba(227, 227, 227, 0.1),
          0 0 7px 10px rgba(227, 227, 227, 0.1);

        @media (max-width: 300px) {
          font-size: small;
        }
      }
    }

    .entry-body {
      min-height: 15em;
    }
  }
}
