/* Color Variables */
$primary-color: #721bac;
$secondary-color: #2f3c7e;
$shadow-color: rgb(172, 172, 172);

/* Font Families */
$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;
$header-font: 'Neucha', 'Poppins', Helvetica, Tahoma, sans-serif;

/* Main page container */
.pageContainer {
  display: flex;
  margin: 3.5em 0 6em 0;
  justify-content: center;
  align-items: center;
}

/* Page content */
.pageContent {
  margin-top: 5em;
  max-width: 50%;
  font-family: $paragraph-font;
  font-size: large;
  line-height: 2em;
  color: rgb(46, 46, 46);
  width: 100%;

  // Media queries
  @media (max-width: 1300px) {
    max-width: 70%;
  }
  @media (max-width: 500px) {
    max-width: 90%;
  }

  // Headers
  h2 {
    font-family: $header-font;
    font-size: 2.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    padding: 0.5em 0.5em 0.5em 0;
    color: $secondary-color;
    text-shadow: 1px 1px 5px lightgray;
  }

  // Bold paragraph text
  .purple {
    color: $primary-color;
    font-weight: bold;
  }
}

/* Indents lists*/
ol,
ul {
  padding-left: 15px;
}

/* Styles unordered list bullets */
ul li {
  position: relative;
  padding-left: 20px;
}

ul li::marker {
  content: '\25CF';
  color: $primary-color;
}

/* Styles unordered list bullets */
ol li {
  position: relative;
  padding-left: 15px;
}

ol li::marker {
  color: $primary-color;
}

/* Styles links */
a {
  color: $secondary-color;
  font-weight: 700;
}

a:hover {
  color: $primary-color;
}

.helpContainer {
  font-family: $paragraph-font;
  font-size: large;
  color: rgb(68, 68, 68);
  border-radius: 4px;
  padding: 1rem 0 1rem 0;

  @media (max-width: 480px) {
    max-width: 90%;
    margin: 10px;
    padding: 0.5em;
    font-size: medium;
  }

  .itemContainer {
    background-color: rgb(246, 246, 246);
    margin: 0 0 1em 0;
    border-radius: 5px;
  }

  .itemHeader {
    display: flex;
    align-items: center;
    padding: 1em;
    color: rgb(68, 68, 68);
    border-radius: 5px;
    font-weight: 600;

    button {
      border-radius: 10%;
      font-size: larger;
      padding: 0.2em 0.6em 0.2em 0.6em;
      border: 0;
      color: rgb(254, 252, 252);
      background-color: rgb(118, 117, 117);
    }
    button:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      background-color: darken(rgb(118, 117, 117), 10%);
    }
  }

  /* Animation that makes item content fade in when toggled open */
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* The container that holds the item content */
  .toggleItemContainer {
    display: flex;
    flex-direction: column;
    animation-name: fadeInAnimation;
    animation-duration: 1s;
    border-radius: 5px;

    .itemText {
      color: rgb(68, 68, 68);
      width: 90%;
      padding: 0 1em 1em 1em;
      line-height: 1.5em;
      margin: 0 auto;
      word-break: break-word;
      white-space: pre-wrap;
      .itemTextP {
        padding: 1em 2em 1em 2em;
        color: rgb(68, 68, 68);
      }
    }
  }
}

.itemTitle {
  padding-left: 1em;
}
