/* Styles for 'Past Meditation Sessions' title */

$paragraph-font: 'Poppins', Helvetica, Tahoma, sans-serif;

.pastMeditationTitle {
  display: flex;
  padding: 2em 1em 1em 2em;
  font-family: $paragraph-font;
  font-size: larger;
  color: rgb(117, 116, 116);
  align-self: center;
}

.loading {
  padding: 2em;
  font-family: $paragraph-font;
  font-size: medium;
}
