$shadow-color: rgb(172, 172, 172);

@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
}

/* Sidebar Container Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -20em;
  height: 100vh;
  width: 10em;
  transition: left 0.3s ease-in-out;
  background-color: white;
  border: 0.5px solid lightgray;
  color: #1c1c1c;
  @include box-shadow(0, 2px, 8px, $shadow-color);
  z-index: 98; /* Set z-index higher than the main content */
  display: flex;
  flex-direction: column;
}

.sidebarContent{
  flex-grow: 1; /* Allow the content to take remaining space */
  padding: 2em;
}

/* Opened Sidebar Styles */
.sidebar.open {
  display: flex;
  flex-direction: column;
  left: 0;
}

.closeBtn {
  align-self: flex-end; /* Position the close button to the right */
  padding: 0.5em;
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
    left: -100%;
  }
}
