/* Styles for error and success messages */

.error-message,
.success-message {
  padding-top: 1em;
  font-size: medium;
}
.error-message {
  color: rgb(154, 0, 0);
}

.success-message {
  color: rgb(18, 96, 2);
}
